<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Tracker</title>
</head>
<body>
    <p>location</p>
    <ul id="messages"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
  
        var messages = document.getElementById('messages');
  
        socket.on('chat message', function(msg) {
            console.log(msg.lat)
          var item = document.createElement('li');
          item.textContent = `${msg.lat}, ${msg.longi}`;
          messages.appendChild(item);
          window.scrollTo(0, document.body.scrollHeight);
        });
      </script>
</body>
</html>